.Chart {
  font-family: 'Barlow Semi Condensed', 'Roboto', sans-serif;
}

.Chart .axis {

}

.Chart line.axis {
  /* stroke: #bbb; */
  /* stroke-width: 2px; */
}

.Chart .axis text {
  fill: #444;
}

.Chart .axis path {
  stroke: lightgrey;
}

.Chart .axis line.axis-baseline {
  stroke: #bbb;
  stroke-width: 2px;
}

.Chart g.ordinal-labels {
  vertical-align: middle;
}

.Chart .axis-label text, .Chart .ordinal-labels text {
  font-size: 1.1rem;
}

.Chart .axis-title text {
  font-family: 'Barlow', 'Barlow Semi Condensed', 'Roboto';
}

.Chart g.direct-label text {
  font-size: 1rem;
  font-weight: 700;
  text-anchor: end;
  /* fill: white; */
}

.Chart g.direct-label.light text {
  fill: white;
}

.Chart g.direct-label.dark text {
  fill: #303030;
}

.Chart.Choropleth {
  width: 100%;
  position: relative;
}

.Chart.Scatterplot {
  position: relative;
}

.Chart .leaflet-container {
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
}
