.Header {

}

.Header nav.navbar {
  background-color: #ececee;
  border-bottom: 1px solid #ddd;
}

.Header .navbar .navbar-nav a.nav-link,
.Header .navbar .navbar-pills a.nav-link {
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin: 2px 8px;
  color: #076ad4;
  display: block;
}

.Header .navbar .navbar-nav a.nav-link:hover {
  text-decoration: underline;
  /* border: 1px solid #045bb9;
  padding-left: calc(1.2em - 1px);
  padding-right: calc(1.2em - 1px); */
  background-color: #fff;
}

.Header .navbar .nav-pills a.nav-link.active {
  color: #fff;
  background-color: #045bb9;
  border-bottom: 3px solid #023061;
}
