.Home {

}

.Home .front-card {
  /* margin: 0.5em 0; */
  font-size: 1em;
  line-height: 0.9em;
}

.Home .front-card .location {
  color: #666;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.85em;
  border-bottom: 1px solid #dde;
  padding-bottom: 0.2em;
}

.Home .front-card .datapoint {
  font-size: 4em;
  font-weight: 700;
  /* color: #738395; */
  line-height: 1em;
  margin: 0.1em 0;
  text-align: right;
}

.Home .front-card .datalbl {
  text-align: right;
}

.Home .front-card-footer {
  font-size: 0.85em;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,.125);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top: 0px;

}

.Home .front-card .card-body {

}

.Home .front-card.card {
  border-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Home .carousel-indicators {
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}

.Home .carousel-indicators li {
  background-color: #707f8f;
  width: 1.2em;
  height: 0.3em;

}

.Home .carousel-control-next,
.Home .carousel-control-prev {
  width: 2em;
}
