.Stage {
  width: 100%;
  min-height: 480px;
  margin-bottom: 1.5rem;
}

.Stage .card-header {
  font-size: 1.2rem;
  font-weight: 500;
}

.Stage .axis-title {
  color: #444;
  padding-right: 1rem;
  font-size: 0.9em;
  font-family: 'Barlow', 'Barlow Semi Condensed', 'Roboto';
}
