.App {
  font-size: 1rem;
  padding: 2em;
}

.App header h1 {
  /* padding: 0.8em 1.2em; */
  margin: 0.8em 0 1.2em 0;
}

.App header h2 {
  margin: 1em 0 0.5em 0;
}

.App-link {
  /* color: #c209d2; */
}

.App hr {
  margin: 2rem 1rem 2rem 1rem;
}
