.App {
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 2em;
  color: #111;
}

.App header h1 {
  /* padding: 0.8em 1.2em; */
  margin: 0.8em 0 1.0em 0;
}

.App header h2 {
  margin: 1em 0 0.5em 0;
}

.App a {
  color: #076ad4;
  font-weight: 600;
}

.App hr {
  margin: 2rem 1rem 2rem 1rem;
}

.App .alert-info {
  color: #16333e;
}

.App .alert-light {
  color: #2d2d2e;
}

.App .alert strong {
  font-weight: 600;
}
